<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KitchenFanatics.Properties.Settings.KitchenFanaticConnectionString"
            connectionString="Data Source=uclprojects.database.windows.net;Initial Catalog=KitchenFanatic;Persist Security Info=True;User ID=uclprofile;Password=Ucl#12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>